.agenda{
  position: relative;
  top:2px;
  margin: auto;
}

.agenda-header{
	font-style: normal; 
	font-size:30px; 
	color:white; 
	background-color: #e98300; 
	padding: 12px; 
	text-align: center; 
	margin-bottom: 0;
}

.agenda-table{
  border-spacing: 10px;
  margin: auto;
  width: 75%;
  align-items: center;
  table-layout: auto;
  font-style: normal;
  margin-top: 0;
}

.date-section{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:0px;
    padding-bottom:0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    white-space: nowrap;
    font-family: "Helvetica";
    font-weight: normal;
}

.date-section:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.date-section h2{
  line-height: 11px;
  font-weight: normal;
  font-size: 14px;
  color: #231F20;
}

.talk-section{
    text-align: left;
    padding-left: 25px;
    font-size: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.talk-section h2{
  font-weight: bold;
  color: #00b140;
  font-size: 16px
}

.talk-section h3{
  font-weight: normal;
  color: #231F20;
  /*color: #00b140;*/
}

.talk-section:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen  and (max-width: 768px) and (min-width: 481px){
  .agenda-table {
    width: 90%;
  }

  .date-section {
    padding: 0 2px 0 12px;
  }

  .talk-section {
    padding-left: 12px;
  }
}
