body {
	margin: 0px;
  font-family: Helvetica;
}

/* Navigation */
nav{
    float: left;
    margin: 0;
    overflow:hidden;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
	padding-top: 10px;
  display: inline-block;
  list-style-type: none;
  font-size: 25px;
}

nav > ul > li > a{
    color: #000000;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav > ul > li > a:hover {
  background-color: #00B140;
}

.logo_image {
  float: left;
  position: relative;
  margin: 0px 10px 0px 0px;
}

.navigation-bar {
  background:white;
  overflow: hidden;
  position: fixed;
  height: 100px;
  opacity: 1;
  z-index: 9999;
  width: 100%
}

.content{
    position: relative;
    top: 120px;
    margin: auto;
    width: 50%;
  	text-align: center;
  	border: 15px solid #00b140;
  	justify-content: center;
    padding: 20px;
}

 .countdown{
  display: inline-block;
  font-size: 35px;
  width: 50px;
  margin: 0 auto; 
  padding: 13px; 
  background-color: #e98300; 
  border: 1px solid black;
  position: relative;
 }

label{
  display: inline-block;
  width: 6em;
  margin-right: .5em;
  padding-top: 1.5em;
  font-weight: bold;
}
 

.wids_detail_section{
	position: relative;
	top: 120px;
}

.speaker-header{
  position: relative;
  top: 240px;
  margin: auto;
}

.speakers{
  margin: auto;
  width: 75%;
	align-items: center;
}

.Agenda{
  position: relative;
  top:280px;
  margin: auto;
}

.contact-header{
  position: relative;
  top: 370px;
  margin: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 20px 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  height: 400px;
  padding: 10px;
  font-style: normal;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.image-container{
  padding: 2px 16px;
}

.text-card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	background: lightgrey;
  	width: 60%;
  	float: right;
  	height: 300px;
  	margin-right: 50px
}

.image-card{
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	background: white;
  	width: 30%;
  	float: left;
  	margin-left: 50px;
  	height: 300px;
}

.text-card: hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.image-card: hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

th, td {
  padding: 25px;
}

th{
  text-align: left;
}

table {
  border-spacing: 5px;
  margin: auto;
  width: 75%;
  align-items: center;
}

.register-button{
  background-color: #53284f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

.ambassadors-header{
  position: relative;
  top: 310px;
  margin: auto;
  display: inline-block;
  width: 100%;
}

.ambassador-card{
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 600px;
  text-align: center;
  background-color: white;
  font-style: normal;
  border-radius: 5px; /* 5px rounded corners */
}

.ambassador-card-container{
  padding: 2px 16px;
}

/* Float four columns side by side */
.ambassador-column {
  float: left;
  width: 35%;
  padding: 20px 20px;
}

.ambassador-row{
  margin: auto;
  width: 55%;
  align-items: center;
}

/* Clear floats after the columns */
.ambassador-row:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}
