/*Navigation Bar*/
.navigation-bar {
  background:white;
  position: fixed;
  height: 95px;
  opacity: 1;
  z-index: 9999;
  width: 100%;
}

/*Logo Image in the Navigation Bar*/
.logo_image {
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
}

nav{
  overflow: hidden;
}

nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
	padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
}

nav > ul > li > a{
  color: #000000;
  display: block;
  line-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Helvetica";
}

nav > ul > li > a:hover {
  background-color: #00B140;
  color: white;
}